<div class="content">

    <!--********************Home*************************-->
    <div class="main" id="home" style="display: block">
        <div class="container">
            <div class="row">
                <div class="col">
                    <img class="rotate-center" id="round-avt" src="public/image/back.jpg">
                    <h3>Hi, I'm Duc Khang Nguyen</h3>
                    <p>Full-time Web developer</p>
                    <p>Part-time photographer</p>
                </div>
            </div>
        </div>
    </div>
    <!--********************Portfolio*************************-->
    <div class="main" id="about" style="display: none">
        <div class="container">
            <div class="row">
                <div class="col ">
                    <i class="fas fa-user-tie fa-5x rotate-center"></i>
                    <h1>About Me</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="text-background">Get to know me</h5>
                    <div class="row">
                        <div class="col">
                            <p>Hey beautiful! Yeah you, whoever's reading this!</p>
                            <p>Hi there, My name is Khang, born and raised in Viet Nam. I'm a full-stack web developer
                                graduated from UT-Houston Coding Bootcamp.</p>
                            <p>I decided to become a web developer is because I love the feeling when I built something
                                and
                                other people like it. Especialy when it's a website, which can be used by anyone,
                                anywhere.<br>
                                <p>So stop swiping left! Jump right to my portfolio site, and leave me a message right
                                    now
                                    to hire me.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="text-background">Skills</h5>
                    <div class="row">
                        <div class="col-sm-3"></div>
                        <div class="col-sm-6">
                            <p id="front">Front-end</p>
                            <div class="row">
                                <div class="col d-flex justify-content-center skills-icon-holder">
                                    {{#each skills.front}}
                                    <div class="skill-icon">
                                        <p>{{this.skill}}</p>
                                        <i class="{{this.icon}}"></i>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <p id="back">Back-end</p>
                            <div class="row">
                                <div class="col d-flex justify-content-center skills-icon-holder">
                                    {{#each skills.back}}
                                    <div class="skill-icon">
                                        <p>{{this.skill}}</p>
                                        <i class="{{this.icon}}"></i>
                                    </div>
                                    {{/each}}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <h5 class="text-background">Let's socialize</h5>
                                    <div class="row">
                                        <div class="col d-flex justify-content-center">
                                            <a class="skill-icon" target="blank"
                                                href="https://www.facebook.com/khang.burn.7">
                                                <p>Facebook</p>
                                                <i class="fab fa-facebook fa-2x"></i>
                                            </a>
                                            <a class="skill-icon" target="blank"
                                                href="https://www.instagram.com/nduc_kh/">
                                                <p>Instagram</p>
                                                <i class="fab fa-instagram fa-2x"></i>
                                            </a>
                                            <a class="skill-icon" target="blank"
                                                href="https://mail.google.com/mail/?view=cm&fs=1&to=duckhang2210@gmail.com">
                                                <p>Gmail</p>
                                                <i class="fab fa-google fa-2x"></i>
                                            </a>
                                            <a class="skill-icon" target="blank"
                                                href="https://www.linkedin.com/in/khang-nguyen-606b62128">
                                                <p>LinkedIn</p>
                                                <i class="fab fa-linkedin fa-2x"></i>
                                            </a>
                                            <a class="skill-icon" target="blank" href="https://github.com/duckhang2210">
                                                <p>Github</p>
                                                <i class="fab fa-github fa-2x"></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">

                </div>
            </div>
        </div>
    </div>

    <!--********************Portfolio*************************-->
    <div class="main" id="portfolio" style="display: none">
        <div class="container">
            <div class="row">
                <div class="col-xs-0 col-sm-0 col-md-1"></div>
                <div class="col-xs-12 col-sm-12 col-md-10">
                    <div class="row">
                        <div class="col">
                            <i class="fas fa-briefcase fa-5x rotate-center"></i>
                            <h1>Portfolio</h1>
                        </div>
                    </div>
                    <div class="row">

                        {{#if projects}}
                        {{#each projects}}
                        <div class="col-md-6 col-lg-4 my-3">
                            <div class="card">
                                <img src="{{this.image}}" class="card-img-top" alt="{{this.subtitle}}">
                                <div class="card-body">
                                    <h5 class="card-title">{{this.title}}</h5>
                                    <p class="card-text">{{this.subtitle}}</p>
                                    <a target="blank" class="float-left" href="{{this.linkDemo}}"><i
                                            class="fas fa-desktop fa-lg"></i>
                                        <p>demo</p>
                                    </a>
                                    <a target="blank" class="float-right" href="{{linkGit}}"><i
                                            class="fab fa-git-square fa-lg"></i>
                                        <p>code</p>
                                    </a>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                        {{/if}}


                    </div>
                </div>
                <div class="col-xs-0 col-sm-0 col-md-1"></div>
            </div>
        </div>
    </div>
    <!--********************Contact*************************-->
    <div class="main" id="contact" style="display: none">
        <div class="container">
            <div class="row">
                <div class="col">
                    <i class="fas fa-address-card fa-5x rotate-center"></i>
                    <h1>Contact</h1>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="text-background">Reach Me</h5>
                    <div class="row">
                        <div class="col-sm-6 col-md-3 my-2">
                            <i class="fas fa-map-marker-alt fa-2x"></i>
                            <p>Houston, Texas, USA</p>
                        </div>
                        <div class="col-sm-6 col-md-3 my-2">
                            <i class="fas fa-phone fa-2x"></i>
                            <p>+1 713-277-8137</p>
                        </div>
                        <div class="col-sm-6 col-md-3 my-2">
                            <i class="fas fa-envelope fa-2x"></i>
                            <p>duckhang2210@gmail.com</p>
                        </div>
                        <div class="col-sm-6 col-md-3 my-2">
                            <i class="fas fa-check-circle fa-2x"></i>
                            <p>Freelance Available</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <h5 class="text-background">Leave me a message</h5>
                    <div class="row">
                        <div class="col-sm-1"></div>
                        <div class="col-sm-10">
                            {{msg}}
                            <form method="POST" action="/send">
                                <div class="form-row">
                                    <div class="form-group col-sm-6">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input name='email' type="email" class="form-control" id="emailInput"
                                            placeholder="Enter email" required>
                                    </div>

                                    <div class="form-group col-sm-6">
                                        <label for="exampleInputEmail1">Name</label>
                                        <input name='name' type="text" class="form-control" id="nameInout"
                                            placeholder="Can i have your name please?" required>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col">
                                        <label for="exampleFormControlTextarea1">Message</label>
                                        <textarea name='message' class="form-control" id="exampleFormControlTextarea1"
                                            rows="5"></textarea required>
                                      </div>
                                </div>
                  
                                <button type="submit" class="btn btn-dark" id="sendButton">
                                  <p>Send</p>
                                </button>
                        
                              </form>
                        </div>
                        <div class="col-sm-1"></div>
                      </div>
                </div>
              </div>
            </div>
          </div>
          